
        .body-initial {
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1509748846381-1 {
            width: 1049px;
            background-color: rgba(96, 233, 255, 1);
            min-height: 147px;
            top: 9px;
            left: 9px;
        }
        
        .silex-id-1509748899953-2 {
            width: 983px;
            min-height: 98px;
            top: 21px;
            left: 30px;
        }
    